@page "/folder"

@inject NavigationManager NavigationManager
@inject Services.ApiService apiServices
@using WhatsappMonitor.Shared.Models

<br/>

<form>
        <div class="form-row">
 <div class="form-group col-6">
        <input class="form-control" type="text" placeholder="New Folder Name" @bind="newEntity">
    </div>
    <div class="form-group col-3">
        <button class="btn btn-primary form-control" @onclick="AddUser">Add Folder</button>
    </div>
    </div>
   
</form>

<br/>

@if (entities == null  )
{
    <p><em>Loading...</em></p>
}
else
{
   <ul class="list-group">
    @foreach (var i in entities)
    {
        <li class="list-group-item">
            <form>
                <div class="form-row">
                    <div class="form-group col-6">
                        <input class="form-control" type="text" @bind="i.Name">
                    </div>
                    <div class="form-group col-6">
<button type="button" class="btn btn-secondary form-control col-3" @onclick="(() => EditUser(i.FolderId))" >Edit Name</button>
    <button type="button" class="btn btn-danger form-control col-3" @onclick="(() => DeleteUser(i.FolderId))">Delete</button>
    <button type="button" class="btn btn-success form-control col-3" @onclick="(() => UserInfoPage(i))">Information</button>
                    </div>
                </div>
    </form>    
        </li>
    }
</ul>
}

@code {
    private List<Folder> entities;
    private string newEntity;
     protected override async Task OnInitializedAsync()
    {
        await GetUsers();
    }

    private async Task GetUsers()
    {
        entities = await apiServices.GetentitiesAsync();
     }

    private async Task AddUser()
    {
        if (!string.IsNullOrWhiteSpace(newEntity))
        {
             entities = await apiServices.AddEntity(newEntity);
        }
    }

    private async Task EditUser(int i)
    {
        var selectedEntity = entities.First(p => p.FolderId == i);
        if (!string.IsNullOrWhiteSpace(selectedEntity.Name))
        {
             entities = await apiServices.EditEntity(selectedEntity);
         }
    }

    private async Task DeleteUser(int i)
    {
        entities =await apiServices.DeleteEntityById(i);
     }

    private void UserInfoPage(Folder entity)
    {
        NavigationManager.NavigateTo(String.Concat("/folder/", entity.FolderId));
    }
}