@page "/group/{groupid}"

@using System.IO;
@inject Services.ApiService apiServices
@using WhatsappMonitor.Shared.Models
  
 @if(group == null)
{
    <p><em>Loading...</em></p>
}
else
{
<h2>@group.Name - Group</h2>


} 


@code{
    [Parameter]
    public String GroupId { get; set; }
    public Group group { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetGroup();
    }

    public async Task GetGroup()
    {
        group = await apiServices.GetGroupByIdAsync(GroupId);
    }
}