@page "/"

<LoginPanel />

<h1>Whatsapp Monitor</h1>

<p>Hello all, this project was made with the idea to get some data from your Whatsapp chats, it's 100% offline as is, so don't worry, your data will be avaliable only on your device, by default.</p>

<p>You may find more technical info about it in <a href="https://github.com/giovanialtelino/WhatsappMonitor" target="_blank">Github</a> or my <a href="https://www.giovanialtelino.com/project/whatsapp-chat" target="_blank" >blog.</a></p>

<p>Unfortunatly the only way to export messages from Whatsapp, without rooting the phone, is exporting the chat one by one, I made this project with this is mind.</p>

<hr />

<p>Since this is a standalone application, you will have no way to recover your passsword, so after you set your data you will have no way to change it, and all your data is encrypted at the database, so everything will be lost if you lost your password, or username.</p>