@page "/"

<h1>Whatsapp Monitor</h1>

<p>Hello all, this project was made with the idea to get some data from your Whatsapp chats, it's 100% offline as is, so don't worry, your data will be avaliable only on your device, by default.</p>

<p>You may find more technical info about it in <a href="https://github.com/giovanialtelino/WhatsappMonitor" target="_blank">Github</a> or my <a href="https://www.giovanialtelino.com/project/whatsapp-chat" target="_blank" >blog.</a></p>

<p>Unfortunately the only way to export messages from Whatsapp, without rooting the phone, is exporting the chat one by one.</p>

<hr />

<p>Keep in mind that your data is completely unencrypted, so anyone with access to your computer may have access to your whole whatsapp backup.</p>