@page "/singlefile"
@inject Services.ApiService apiServices

<p>Select file for upload</p>

<InputFile OnChange="HandleSelection" />

@if(status != null)
{
<p>@status</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string Type { get; set; }

    string status;

    async Task HandleSelection(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();

        if (file != null)
        {
            status = $"Loading file {file.Name}";

            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);

            var content = new MultipartFormDataContent {
    { new ByteArrayContent(ms.GetBuffer()), "\"upload\"", file.Name }
    };

            var added = await apiServices.PostFile(content, Id, Type);
            status = $"{added} records were saved";

        }
    }
}