@page "/singlefile"
@inject Services.ApiService apiServices

<form>
<div style="justify-content: center;" class="form-row">
    <h2>Select file for upload</h2>
</div>

<div class="form-row">
    <div class="form-group col-6">
<InputFile class="btn btn-primary" OnChange="HandleSelection" />
    </div>

    <div class="form-group col-6">
@if(results != null)
{
    <div class="form-row">
    <div class="alert alert-primary" role="alert">
    @results   
    </div>
    </div>
}
    </div>
</div>
</form>


@code {
    [Parameter]
    public int Id { get; set; }

    string results;

    async Task HandleSelection(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();

        if (file != null)
        {
            results = $"Loading file {file.Name}";

            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);

            var content = new MultipartFormDataContent {
    { new ByteArrayContent(ms.GetBuffer()), "\"upload\"", file.Name }
    };

            var added = await apiServices.PostFile(content, Id);
            results = $"{added} records were saved";

        }
    }
}