@page "/singlefile"
@inject Services.ApiService apiServices

<h1>Chat File Selector</h1>

<InputFile OnChange="HandleSelection" />

<p>@status</p>

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string Type { get; set; }

    string status;

    async Task HandleSelection(IFileListEntry[] files)
    {
        var file = files.FirstOrDefault();
        if (file != null)
        {
            var ms = new MemoryStream();
            await file.Data.CopyToAsync(ms);

            status = $"Finished loading {file.Size} bytes from {file.Name}";

            var content = new MultipartFormDataContent {
        { new ByteArrayContent(ms.GetBuffer()), "\"upload\"", file.Name }
    };

            await apiServices.PostFile(content, Id, Type);

        }
    }
}