@page "/user/{userid}"

@using System.IO;
@inject Services.ApiService apiServices
@using WhatsappMonitor.Shared.Models

@if(user == null)
{
    <p><em>Loading...</em></p>
}
else
{
<h2>@user.Name</h2>

<div>
    <Upload 
    Type = "users"
    Id = "@user.Id" />
 </div>
} 

@code{
    [Parameter]
    public String UserId { get; set; }
    public User user { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetUser();
    }
    public async Task GetUser()
    {
        user = await apiServices.GetUserByIdAsync(UserId);
    }
}