@page "/folder"

@inject NavigationManager NavigationManager
@inject Services.ApiService apiServices
@using WhatsappMonitor.Shared.Models

<h2>Users</h2>

<form>
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Name" @bind="newEntity">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" @onclick="AddUser">Add User</button>
    </div>
</form>

<br>

@if (entities == null)
{
    <p><em>Loading...</em></p>
}
else
{
   <ul class="list-group">
    @foreach (var i in entities)
    {
        <li class="list-group-item">
            <form>
                <div class="form-group">
    <input class="form-control" type="text" @bind="i.Name"></div>
    <div class="form-group">
    <button type="button" class="btn btn-secondary" @onclick="(() => EditUser(i.EntityId))" >Edit</button>
    <button type="button" class="btn btn-danger" @onclick="(() => DeleteUser(i.EntityId))">Delete</button>
    <button type="button" class="btn btn-success" @onclick="(() => UserInfoPage(i))">Information</button>
    </div>
    </form>
    
        </li>
    }
</ul>
}


@code {
    private List<Entity> entities;
    private string newEntity;
    protected override async Task OnInitializedAsync()
    {
        await GetUsers();
    }

    private async Task GetUsers()
    {

        entities = await apiServices.GetentitiesAsync();
    }

    private async Task AddUser()
    {
        if (!string.IsNullOrWhiteSpace(newEntity))
        {
             await apiServices.AddEntity(newEntity);
            await GetUsers();
        }
    }

    private async Task EditUser(int i)
    {
        var selectedEntity = entities.First(p => p.EntityId == i);
        if (!string.IsNullOrWhiteSpace(selectedEntity.Name))
        {
            await apiServices.EditEntity(selectedEntity);
            await GetUsers();
        }
    }

    private async Task DeleteUser(int i)
    {
         await apiServices.DeleteEntityById(i);
         await GetUsers();
    }

    private void UserInfoPage(Entity entity)
    {
        NavigationManager.NavigateTo(String.Concat("/user/", entity.EntityId));
    }
}