@page "/chatSearcher"

@inject Services.ApiService apiServices
@using WhatsappMonitor.Shared.Models;

<div style="justify-content: center;" class="form-row">
    <h2>Chat Search</h2>
</div>

<div class="form-row">
    <div class="col-md-4">
        <input type="text" class="form-control" @bind="searchChat">
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" @onclick="SearchChat">Buscar</button>
    </div>
</div>

<hr>

@if(chats == null)
{
<p>Seach for a word.</p>
}
else
{
<ChatComponent
chats = "@chats" />
}

@code {
    [Parameter]
    public int Id { get; set; }
    List<Chat> chats;
    string searchChat = "";
    int skip = 0;
    int take = 25;

    public async Task SearchChat()
    {
        chats = await apiServices.SearchChatWord(Id, searchChat, skip, take);
    }
     
}