@page "/participants"
@inject Services.ApiService apiServices
@using WhatsappMonitor.Shared.Models;

<div style="justify-content: center;" class="form-row">
    <h2>Chat participants</h2>
</div>

@if(users == null)
{
<p>Loading....</p>
}
else
{
<div class="form-row">
<div class="form-group col-md-3">
                <label for="">Order By</label>
                <select @onchange="@OrderList">
                    <option value="name">Name</option>
                    <option value="firstMessage">First Message</option>
                    <option value="lastMessage">Last Message</option>
                    <option value="messageP">Message %</option>
                    <option value="wordP">Word %</option>
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="">Order Type</label>
                <select @onchange="@OrderType">
                    <option value="crescent">Crescent</option>
                    <option value="decrescente">Decrescent</option>
                </select>
            </div>
</div>
@foreach (var i in users)
{
<li class="list-group-item">
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input class="form-control" type="text" @bind="i.PersonName">
            </div>
            <div class="form-group col-md-3">
                <button type="button" class="btn btn-secondary" @onclick="(() => EditPersonName(i))">Edit Name</button>
                <button type="button" class="btn btn-danger" @onclick="(() => DeletePersonName(i.FixedName))">Delete Person</button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="">First Message</label>
                <input class="form-control" type="text" @bind="i.FirstMessage">
            </div>
             <div class="form-group col-md-2">
                <label for="">Last Message</label>
                <input class="form-control" type="text" @bind="i.LastMessage">
            </div>
            <div class="form-group col-md-2">
                <label for="">Message Counter</label>
                <input class="form-control" type="text" @bind="i.MessageCounter">
            </div>
            <div class="form-group col-md-2">
                <label for="">Word Counter</label>
                <input class="form-control" type="text" @bind="i.WordsCounter">
            </div>
            <div class="form-group col-md-2">
                <label for="">Message (%)</label>
                <input class="form-control" type="text" @bind="i.MessageCounterPercentage">
            </div>
            <div class="form-group col-md-2">
                <label for="">Words (%)</label>
                <input class="form-control" type="text" @bind="i.WordsCounterPercentage">
            </div>
        </div>
    </form>
</li>
}
}

@code {
    [Parameter]
    public int Id { get; set; }
    List<ParticipantDTO> users;

    string orderType = "crescent";
    string orderList = "name";
    protected override async Task OnInitializedAsync()
    {
        await GetParticipants();
    }

    public async Task GetParticipants()
    {
        users = await apiServices.GetParticipants(Id);
    }

    public async Task EditPersonName(ParticipantDTO dto)
    {
        await apiServices.UpdateChatPersonName(Id, dto);
    }

    public async Task DeletePersonName(string name)
    {
        await apiServices.DeleteChatPersonName(Id, name);
    }

    public void OrderList(ChangeEventArgs e)
    {
        orderList = e.Value.ToString();
        OrderUsers();
    }

    public void OrderType(ChangeEventArgs e)
    {
        orderType = e.Value.ToString();
        OrderUsers();
    }

    public void OrderUsers()
    {
        switch (orderList)
        {
            case "firstMessage":
                if (orderType == "crescent")
                {
                    users = users.OrderBy(c => c.FirstMessage).ToList();
                }
                else
                {
                    users = users.OrderByDescending(c => c.FirstMessage).ToList();
                }
                break;

            case "lastMessage":
                if (orderType == "crescent")
                {
                    users = users.OrderBy(c => c.LastMessage).ToList();
                }
                else
                {
                    users = users.OrderByDescending(c => c.LastMessage).ToList();
                }
                break;

            case "messageP":
                if (orderType == "crescent")
                {
                    users = users.OrderBy(c => c.MessageCounterPercentage).ToList();
                }
                else
                {
                    users = users.OrderByDescending(c => c.MessageCounterPercentage).ToList();
                }
                break;

            case "wordP":
                if (orderType == "crescent")
                {
                    users = users.OrderBy(c => c.WordsCounterPercentage).ToList();
                }
                else
                {
                    users = users.OrderByDescending(c => c.WordsCounterPercentage).ToList();
                }
                break;

            default:
                if (orderType == "crescent")
                {
                    users = users.OrderBy(c => c.PersonName).ToList();
                }
                else
                {
                    users = users.OrderByDescending(c => c.PersonName).ToList();
                }

                break;
        }
    }
}
